{% extends 'base.html' %}
{% block content %}

<div class="form-container">
    <form method="POST" action="{% url 'index' %}" class="appointment-form">
        <h1 class="appointment-form-topic">Book Your Appointment</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Submit</button>
        <p class="appointment-form-under-button">
            You don't have an account? <a href="{% url 'register' %}" class="register-link">Register here</a>
        </p>
    </form>
</div>

{% endblock %}
