{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Front picture section -->
    <div class="front-picture">
        <img src="{% static 'images/front-photo.png' %}" alt="Front picture">
    </div>

    <div class="welcome-section">
        <div class="welcome-text">
            <h1>Welcome to Our Virtual Consultation Center!</h1>
        </div>
    </div>

    <!-- Appointment table and calendar -->
    <div class="table-calendar-container">
        <div class="table-container">
            <div class="appointment-table-topic">
                <p>Click on your desired appointment time and fill out the registration form. This way, we’ll know when
                    you wish to be seen for your consultation.</p>
            </div>
            <table>
                {% for day in days_of_week %}
                    <tr class="days-in-table">
                        <th>{{ day }}</th>
                        {% for hour in hours %}
                            {% if day|stringformat:"s"|add:","|add:hour|stringformat:"s" in unavailable_slot %}
                                <td class="hours-in-table-unavailable">Unavailable {{ hour }}</td>
                            {% else %}
                                <td class="hours-in-table" onclick="openForm('{{ day }}', '{{ hour }}')">{{ hour }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        {#        <div class="calendar-container">#}
        {#            <div id="calendar"></div>#}
        {#        </div>#}

        <div class="appointment-map-container">
            <div class="appointment-map-topic">
                <p>7000 Ruse, Bulgaria, "Voden" Str.</p>
            </div>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d564.1342497431681!2d25.964015003486818!3d43.85477932429727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1731338010437!5m2!1sbg!2sbg"
                    width="100%"
                    height="100%"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>
    </div>

    <!-- Appointment form modal -->
    <div id="appointmentModal" class="modal"
         style="{% if show_modal %}display: flex;{% else %}display: none;{% endif %}">
        <div class="modal-content">
            <div class="form-container">
                <form id="appointmentForm" method="POST" action="{% url 'index' %}" class="appointment-form"
                      onsubmit="validateAndSubmitForm(event)">
                    <span class="close-button" onclick="closeForm()">X</span>
                    <h1 class="appointment-form-topic">Book Your Appointment</h1>
                    {% csrf_token %}
                    <input type="hidden" id="day" name="day">
                    <input type="hidden" id="hour" name="hour">
                    {{ form.as_p }}

                    {% if request.user.is_authenticated %}
                        <button type="submit" class="submit-btn">Submit</button>
                    {% else %}
                        <p class="appointment-form-under-button">
                            You don't have an account? <a href="{% url 'register' %}" class="register-link">Register
                            here</a>
                        </p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <!-- JavaScript files -->
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/appointmentModal.js' %}"></script>
{% endblock %}
