{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="body-profile-page">
    <div class="front-picture">
        {% include 'page-picture.html' %}
        {% include 'welcome-section.html' %}
    </div>
    <div class="user-profile-container">
        {% if current_user.profile_picture %}
            <div class="user-profile-image">
                <img src="{{ current_user.profile_picture.url }}" alt="Profile Picture">
            </div>
        {% else %}
            <div class="user-profile-image">
                <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Profile Picture">
            </div>
        {% endif %}
        <div class="user-profile-info">
            <h1 class="user-profile-name">{{ current_user.first_name }} {{ current_user.last_name }}</h1>


            <div class="edit-profile-button">
                <a href="{% url 'edit_profile' current_user.pk %}" class="btn btn-edit-profile">
                    <i class="fas fa-pencil-alt"></i> Edit Profile
                </a>
            </div>

            <div class="user-profile-details">
                <p><strong>Username:</strong> {{ current_user.username }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <p><strong>Phone Number:</strong> {{ current_user.phone_number }}</p>
            </div>

            <div class="user-profile-links">
                <a href="{% url 'dashboard' %}">My Appointments</a>
                <a href="{% url 'medical_examination_results' current_user.pk %}">Medical Examination Results</a>
                {% if doctor_administrators %}
                    <a href="{% url 'patient-history' current_user.pk %}">Patients History</a>
                    <a href="{% url 'patient-symptoms-list' current_user.pk %}">Patients Symptoms</a>
                {% else %}
                    <a href="{% url 'ask-the-doctor' current_user.pk %}">Ask The Doctor</a>
                {% endif %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
