{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="body-profile-page">
    <div class="front-picture">
        <img src="{% static 'images/schedule.png' %}" alt="Front picture">
    </div>
    <div class="user-profile-container">
        <div class="user-profile-image">
            <img src="{% static 'images/profile-photo.jpg' %}" alt="Profile Picture">
        </div>
        
        <div class="user-profile-info">
            <h1 class="user-profile-name">{{ current_user.first_name }} {{ current_user.last_name }}</h1>
            
            
            <div class="edit-profile-button">
                <a href="{% url 'edit_profile' current_user.pk %}" class="btn btn-edit-profile">
                    <i class="fas fa-pencil-alt"></i> Edit Profile
                </a>
            </div>
            
            <div class="user-profile-details">
                <p><strong>Username:</strong> {{ current_user.username }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <p><strong>Phone Number:</strong> {{ current_user.phone_number }}</p>
            </div>

            <div class="user-profile-links">
                <a href="{% url 'dashboard' %}">My Appointments</a>
                <a href="#">Medical Examination Results</a>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
