footer {
    background-color: #447e7f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 200px;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    margin-top: 15px;
}

.footer-social a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer-logo,
    .footer-links,
    .footer-social {
        margin: 0;
    }

    .footer-links {
        gap: 25px;
    }
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 5px; /* Разстояние между иконите */
    margin-top: 20px;
}

.footer-social a {
    font-size: 1.5em; /* Размер на иконите */
    color: #ffffff; /* Цвят на иконите */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #0675e8; /* Цвят при задържане */
}

