/* Основен стил за контейнера на формата */
.appointment-form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background: linear-gradient(145deg, #3a7a7b, #3a7a7b) center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Контейнер за полетата за първо и фамилно име */
.name-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

/* Полета за първо и фамилно име */
.half-width {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    flex: 1;
}

.half-width:focus {
    border-color: #007bff;
    outline: none;
}

/* Стил за лейбълите */
.appointment-form label {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

/* Основен стил за полетата на формата */
.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form select,
.appointment-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.appointment-form input::placeholder,
.appointment-form textarea::placeholder {
    color: #aaa;
    font-style: italic;
}

.appointment-form input:focus,
.appointment-form textarea:focus,
.appointment-form select:focus {
    border-color: #007bff;
    outline: none;
}

/* Стил за бутона за изпращане */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #8fdad3;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #4ed2cb;
}

/* Заглавие и под-бутон */
.appointment-form-topic {
    color: #8fdad3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.appointment-form-under-button {
    color: #8fdad3;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.register-link {
    color: #8fdad3;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 15px;
}

.register-link:hover {
    color: #ffffff;
}

/* =============================== Table container ================================= */
.table-container {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.days-in-table {
    background-color: #3a7a7b;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.days-in-table th {
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 18px;
}

.hours-in-table {
    padding: 12px;
    border: 1px solid #000000;
    text-align: center;
    background-color: #ffffff;
    user-select: none;
    cursor: pointer;
}

.hours-in-table:hover {
    background-color: #3a7a7b;
}

td.hours-in-table {
    color: #000000;
}

.hours-in-table-unavailable {
    padding: 20px;
    border: 1px solid #000000;
    text-align: center;
    background-color: #d08282;
    user-select: none;
    cursor: pointer;
}


/* =============================== Modal ================================= */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    position: relative;
    text-align: left;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* =============================== Responsive Design ================================ */
@media (max-width: 768px) {
    .appointment-form {
        padding: 15px;
        max-width: 90%;
    }

    .submit-btn {
        font-size: 14px;
        padding: 10px;
    }

    .name-container {
        flex-direction: column;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .appointment-form {
        padding: 10px;
        max-width: 100%;
    }

    .appointment-form input[type="text"],
    .appointment-form input[type="email"],
    .appointment-form select,
    .appointment-form textarea {
        font-size: 14px;
        padding: 10px;
    }

    .submit-btn {
        font-size: 14px;
        padding: 8px;
    }

    .modal-content {
        width: 95%;
    }
}

