/* Основен стил за формата за регистрация */
.register-form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background: linear-gradient(145deg, #3a7a7b, #3a7a7b) center;
    background-size: cover;
    border-radius: 15px;
}

/* Стил за заглавието на формата */
.register-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.register-form label {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

/* Основен стил за полетата за въвеждане */
.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

/* Стил за бутона */
.register-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #8fdad3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Ефект при задържане на мишката върху бутона */
.register-form button:hover {
    background-color: #4ed2cb;
}

.register-form-topic{
    color: #8fdad3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.helptext{
    color: #ffffff;
}