{% extends 'base.html' %}
{% block content %}
<div class="about-container">
    <h1 class="about">Dr. Kristina Atanasova - ENT Specialist in Ruse</h1>
    <p class="about">Dr. Kristina Atanasova is an Ear, Nose, and Throat (ENT) specialist in Ruse, Bulgaria, with over 13
        years of
        experience. She provides diagnostic consultations and treatments for ear, nose, and throat diseases in both
        adults and children.</p>

    <h2 class="about">Education and Qualifications:</h2>
    <ul class="about">
        <li class="about">Graduated from the Medical University of Varna in 2009.</li>
        <li class="about">Obtained a specialty in Otorhinolaryngology in 2015.</li>
        <li class="about">Completed a Master’s program in Health Management in 2017.</li>
        <li class="about">Holds a professional qualification in Otoneurology.</li>
        <li class="about">Completed training for the application of fillers and mesotherapy.</li>
        <li class="about">Member of the Bulgarian Medical Association and the Bulgarian Society of Otorhinolaryngology,
            Head, and Neck
            Surgery.
        </li>
    </ul>

    <h2 class="about">Professional Experience:</h2>
    <ul class="about">
        <li class="about">Works in the ENT department of UMHAT Kanev in Ruse.</li>
        <li class="about">Part of the team at Medic Consult Medical Center, where she sees patients.</li>
    </ul>

    <h2 class="about">Contact Information:</h2>
    <p class="about">
        <strong class="about">Address:</strong> 6 Voden Street, Ruse<br>
        <strong class="about">Phone:</strong> <a class="about" href="tel:+359877127714">+359 877 127 714</a>
    </p>

    <p class="about">Appointments can be booked through the <a class="about"
                                                               href="https://superdoc.bg/lekar/kristina-atanasova"
                                                               target="_blank">Superdoc
        platform</a> or directly by contacting the medical center.</p>

    <p class="about">Dr. Atanasova also offers online consultations via the <a class="about"
                                                                               href="https://www.healee.com/en/737051"
                                                                               target="_blank">Healee platform</a>.</p>

    <p class="about">For more information about her practice and services, you can visit her profile on <a
            class="about" href="https://www.credoweb.bg/profile/87751/d-r-kristina-atanasova"
            target="_blank">CredoWeb</a>.</p>
</div>
{% endblock %}