{% extends 'base.html' %}
{% block content %}
<div class="about-container">
    <h1 class="contact">Dr. Kristina Atanasova - ENT Specialist in Ruse</h1>
    <p class="contact">Dr. Kristina Atanasova is an Ear, Nose, and Throat (ENT) specialist in Ruse, Bulgaria, with over 13
        years of
        experience. She provides diagnostic consultations and treatments for ear, nose, and throat diseases in both
        adults and children.</p>
    <h2 class="contact">Professional Experience:</h2>
    <ul class="contact">
        <li class="contact">Works in the ENT department of UMHAT Kanev in Ruse.</li>
        <li class="contact">Part of the team at Medic Consult Medical Center, where she sees patients.</li>
    </ul>
    <div class="appointment-map-container">
            <div class="appointment-map-topic">
                <p>7000 Ruse, Bulgaria, "Voden" Str.</p>
            </div>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d564.1342497431681!2d25.964015003486818!3d43.85477932429727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1731338010437!5m2!1sbg!2sbg"
                    width="100%"
                    height="100%"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>
    <br>
     <h2 class="contact">Contact Information:</h2>
    <p class="contact">
        <strong class="contact">Address:</strong> 6 Voden Street, Ruse<br>
        <strong class="contact">Phone:</strong> <a class="contact" href="tel:+359877127714">+359 877 127 714</a>
    </p>

    <p class="contact">Appointments can be booked through the <a class="contact"
                                                               href="https://superdoc.bg/lekar/kristina-atanasova"
                                                               target="_blank">Superdoc
        platform</a> or directly by contacting the medical center.</p>

    <p class="contact">Dr. Atanasova also offers online consultations via the <a class="contact"
                                                                               href="https://www.healee.com/en/737051"
                                                                               target="_blank">Healee platform</a>.</p>

    <p class="contact">For more information about her practice and services, you can visit her profile on <a
            class="contact" href="https://www.credoweb.bg/profile/87751/d-r-kristina-atanasova"
            target="_blank">CredoWeb</a>.</p>
</div>
{% endblock %}
