{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="front-picture">
        <img src="{% static 'images/schedule.png' %}" alt="Front picture">
    </div>
    <div class="container">
        {% if can_send_result or can_delete_appointment %}
            <h1>Patient Appointments</h1>
        {% else %}
            <h1>My Appointments</h1>
        {% endif %}
        <div class="appointment-list">
            {% if patient_appointment %}
                <table>
                    <thead>
                    <tr>
                        <th>Account User</th>
                        <th>Patient Name</th>
                        <th>Date of Appointment</th>
                        <th>Day</th>
                        <th>Hour</th>
                        <th>E-mail</th>
                        <th>Phone Number</th>
                        <th>Delete</th>
                        <th>Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in patient_appointment %}
                        <tr>
                            <td>{{ appointment.patient.first_name|capfirst }} {{ appointment.patient.last_name|capfirst }}</td>
                            <td>{{ appointment.first_name }} {{ appointment.last_name }}</td>
                            {% for slot in appointment.appointment_slot.all %}
                                <td>{{ slot.day }}</td>
                                <td>{{ slot.day }}</td>
                                <td>{{ slot.time }}</td>
                            {% endfor %}
                            <td>{{ appointment.email }}</td>
                            <td>{{ appointment.phone_number }}</td>
                            {% if can_delete_appointment %}
                                <td>
                                    <button type="button" class="submit-btn-delete"
                                            onclick="openModal({{ appointment.id }})">Delete
                                    </button>
                                </td>
                            {% endif %}
                            {% if can_send_result %}

                                <td>
                                    <a href="{% url 'patient-result' appointment.patient_id appointment.unique_id %}">
                                        <button type="button" class="submit-btn-result">Results</button>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    <!-- Модален прозорец за потвърждение -->
                    <div id="confirmModal" class="delete-modal">
                        <div class="delete-modal-content">
                            <p class="appointment-text">Are you sure you want to delete this appointment?</p>
                            <button id="confirmDelete" class="delete-btn">Yes</button>
                            <button onclick="closeModal()" class="delete-btn">No</button>
                        </div>
                    </div>

                    </tbody>
                </table>
            {% else %}
                <p class="appointment-text">You have no appointments</p>
            {% endif %}
        </div>
    </div>
    <script>
        const csrfToken = "{{ csrf_token }}";  // Динамично зареждане на CSRF токена
    </script>
    <script src="{% static 'js/deleteAppointment.js' %}"></script>
{% endblock %}