{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="login-page-body">
    <div class="front-picture">
        <img src="{% static 'images/schedule.png' %}" alt="Front picture">
        <form method="POST" class="login-form">
            <h1 class="login-form-topic">Login</h1>
            <h3 class="login-form-topic-2">Please enter your login and password</h3>
            {% csrf_token %}
            {{ form }}
            <button type="submit">Login</button>
            <p class="appointment-form-under-button">
                You don't have an account? <a href="{% url 'register' %}" class="register-link">Register here</a>
            </p>
        </form>
    </div>
    </body>
{% endblock %}
