cd{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'page-picture.html' %}
    {% include 'welcome-section.html' %}
    <div class="page-container">
        <!-- Рекламни боксове -->
        <div class="ad-container">
            <a href="https://superdoc.bg/lekar/kristina-atanasova" class="ad-link" target="_blank" rel="noopener noreferrer">
                <div class="ad-box">
                    <img src="{% static 'images/superdoc-ad.png' %}" alt="superdoc-ad">
                    <img src="{% static 'images/superdoc.png' %}" alt="superdoc-ad">
                </div>
            </a>
            <a href="https://app.healee.com/m-login/?desktop=1#login-main" class="ad-link" target="_blank" rel="noopener noreferrer">
                <div class="ad-box">
                    <img src="{% static 'images/healee.png' %}" alt="superdoc-ad">

                </div>
            </a>
            <a href="https://superdoc.bg/lekar/kristina-atanasova" class="ad-link" target="_blank" rel="noopener noreferrer">
                <div class="ad-box">
                    <img src="{% static 'images/superdoc-ad.png' %}" alt="superdoc-ad">
                    <img src="{% static 'images/superdoc.png' %}" alt="superdoc-ad">
                </div>
            </a>
        </div>

        <!-- Основно съдържание -->
        <div class="blog-list-container">
            <h1 class="blog-list-title">Blog Articles</h1>

            {% if can_add_blog %}
                <a href="{% url 'blog_create' %}" class="blog-add-btn">Create Article</a>
            {% endif %}

            <ul class="blog-list">
                {% for post in posts %}
                    <li class="blog-list-item">
                        <div class="blog-list-item-content">
                            <a href="{% url 'blog_detail' post.pk %}" class="blog-list-item-title">{{ post.title }}</a>
                            <p class="blog-list-item-author">Author: {{ post.author }}</p>
                            <p class="blog-list-item-date">{{ post.created_at }}</p>
                        </div>
                        {% if post.blog_post_image %}
                            <a href="{% url 'blog_detail' post.pk %}">
                                <img src="{{ post.blog_post_image.url }}" alt="{{ post.title }}"
                                     class="blog-list-item-image">
                            </a>
                        {% else %}
                            <p>No image available for this post.</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <!-- Пагинация -->
            <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
            </div>
        </div>



    </div>
{% endblock %}
